mixin sMainSlider(data)
	// start sMainSlider
	+b.SECTION.sMainSlider#Slider&attributes(attributes)
		//- +e.slider-video--js.swiper
		//- 	.swiper-wrapper
		//- 		mixin item(i)
		//- 			+e.slide.swiper-slide.section 
		//- 				+e.wrap
		//- 					video(playsinline autoplay muted loop)
		//- 						source(src=`video/slide_0${i}/video_desktop.mp4` type="video/mp4" media="(max-width:576px)")
		//- 						source(src=`video/slide_0${i}/video_mobile.mp4` type="video/mp4" ) 
		//- 		+item(1)
		//- 		+item(2)
		//- 		+item(3)
		//- 		+item(4)
		//- 		+item(5)
		+e.slider-text--js.swiper
			.swiper-wrapper
				mixin item(t, p, i, activeClass)
					+e.slide.swiper-slide.section(data-index=i class=activeClass)
						+e.wrap
							video(playsinline autoplay muted loop )
								//- source(src=`video/slide_0${i + 1}/video_desktop${i == 0 ? "-2" : ''}.webm` type="video/webm" media=" (min-width:1280px)")
								//- source(src=`video/slide_0${i + 1}/video_tablet-horizontal.webm` type="video/webm" media="(orientation: landscape) and (min-width:768px)")
								//- source(src=`video/slide_0${i + 1}/video_tablet.webm` type="video/webm" media="(orientation: portrait) and (min-width:768px)")
								//- source(src=`video/slide_0${i + 1}/video_mobile.mp4` type="video/mp4" )
						+e.container.container
							+e.caption
								+e.top(data-aos="fade-up" data-aos-duration="900"  data-aos-offset="0") линтекс
								+e.title(data-aos="fade-up" data-aos-duration="600" data-aos-delay="350"  data-aos-offset="0")!= t
								p(data-aos="fade-up" data-aos-duration="950" data-aos-delay="650"  data-aos-offset="0")!= p
								+e.btn.btn.btn-outline-light.d-lg-none.w-100.aos-animate(href='#' data-aos="fade-up" data-aos-duration="950" data-aos-delay="650" data-aos-offset="0") Задать вопрос

				+item(`Полимерные сетчатые эндопротезы`,`Широкий ассортимент для любой клинической ситуации в&nbsp;хирургическом лечении грыж, урологических и&nbsp;гинекологических заболеваний.`, 0, 'active-slide')
				+item(`МЕЗОГЕЛЬ<sup class="reg">&reg;</sup>&nbsp; противоспаечный рассасывающийся гель`,`Эффективная профилактика спаечного процесса после операций на&nbsp;органах, имеющих серозное покрытие.`, 1)
				+item(`Хирургические шовные материалы`,`Рассасывающиеся и&nbsp;нерассасывающиеся нити, с&nbsp;атравматическими иглами и&nbsp;в&nbsp;виде лигатуры.`, 2)
				+item(`Самофиксирующиеся шовные материалы`,`Рассасывающиеся и&nbsp;нерассасывающиеся нити позволяют фиксировать ткани, не&nbsp;требуя завязывания узлов, сокращая тем самым время операции, обеспечивают возможность равномерно контролировать натяжение по&nbsp;всей ране.`, 3)
				+item(`Производство, основанное на&nbsp;собственных научных разработках`,`Продукция для решения практических задач здравоохранения. <br> Опыт. Качество. Инновации.`, 4)
		+b.slider-control
			//- .swiper-pagination.d-md-none
			+e.slider-pagination.d-lg-none
				+e.SPAN.bullet.active
				+e.SPAN.bullet
				+e.SPAN.bullet
				+e.SPAN.bullet
				+e.SPAN.bullet
			.d-none.d-lg-block
				+e.arrow--prev
					+icon("arrow-left-lg")
				+e.arrow--next
					+icon("arrow-right-lg")
				//- +e.count 1/5
				//- svg(width='132' height='132' viewBox='0 0 132 132').svg-circle
				//- 	circle(r='63' cx='66' cy='66' fill='transparent' opacity="0.2" stroke='#FFF' stroke-width='1.6')
				//- 	circle(r='63' cx='66' cy='66' fill='transparent' stroke='#54B565' stroke-width='1.6' )
		+b.play-button.d-none.d-lg-block(href='#')
			<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
				<path id="circlePath" fill="none" d=" M 10, 50 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0 " />
				<text id="text" font-size="7.8" font-weight="bold" fill="#fff">
					<textPath id="textPath" href="#circlePath">Смотерть видео о нас&nbsp;.&nbsp;Смотерть видео о нас&nbsp;.&nbsp;</textPath>
				</text>
			</svg>
	// end sMainSlider
	