include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-right')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")

mixin search()
	+b.search-block
		form
			button 
				+icon("search")
			input(type="text" placeholder="Поиск" inputmode='search')

mixin search2()
	+b.search-block
		form
			input(type="text" placeholder="Поиск" inputmode='search')
			button 
				+icon("search-p")

mixin page-head(data)
	+b.page-head
		- let l = items.length
		.container
			//- +breadcrumb('Главная',...items)
			if data.withCaption
				+e.row.row 
					.col-md-6
						h1(data-aos="fade-up" data-aos-duration="600" data-aos-delay="0").h2!= data.withCaption.title
					.col-md-6
						p(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150")!= data.withCaption.text
			else
				h1(data-aos="fade-up" data-aos-duration="600" data-aos-delay="0")!= data.t
			if data.switch || data.map
				+e.control-row.row()
					.col( )
						if data.map
							+b.select-block-wrapper--multiple.StopSrollonHover(data-scrollbar)
								select.custom-select-map-js(multiple data-placeholder="Все города")
									option  Москва
									option  Нижний Новгород
									option  Владимир
									option  Санкт-Петербург
									option  Москва 1
									option  Нижний Новгород 1
									option  Владимир 1
									option  Санкт-Петербург 1
					.col-auto
						if data.switch
							+e.switch(data-aos="fade-up" data-aos-duration="900" data-aos-delay="350")
								a(href="#sDillers" class= (data.map == true ? '' : "active")).tab-section-btn
									+icon('grid')
									span.d-none.d-md-inline Список
								a(href="#sContact" class= (data.map == true ? 'active' : "")).tab-section-btn
									+icon('map')
									span.d-none.d-md-inline Карта

mixin page-head-bc(title, p,img,...items)
	+b.page-head--bc&attributes(attributes)
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			+e.row.row
					.col-md-6.order-md-1
						+e.img-wrap
							//- +img(`${img}`)
							video( autoplay="" muted="" playsinline="" loop="true"  data-wf-ignore="true" src="video/box.mp4")
					.col-md-6
						h1(data-aos="fade-up" data-aos-duration="600" data-aos-delay="0")!= title
						p!= p
						
mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin defSlider(cl="slider-autowidth-js",dir="")
	+b.slider(data-aos="fade-up" data-aos-duration="600" data-aos-delay="450" class= cl)
		.swiper(dir= dir)
			.swiper-wrapper
				block
			.d-md-none
				.swiper-pagination
			.swiper-controls 
				+arrow

mixin videoBlock()
	.img-animate-wrap-js&attributes(attributes)
		+b.video-wrap.img-animate-js
			.bg
			+pic('img/youtube-cover.jpg', 'bg').preview
			video(controls)
				//- source(src='video/video-bg.mp4' type='video/mp4' media='(min-width:768px)')
				//- source(src='video/video-bg.webm' type='video/webm' media='(min-width:768px)')
				//- source(src='video/video-bg.mp4' type='video/mp4')
				//- source(src='video/video-bg.webm' type='video/webm')
	block

mixin cookie()
	+b.cookie(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000")
		p Сайт использует файлы cookie, что позволяет получать информацию о&nbsp;вас. Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь с&nbsp;использованием cookie и&nbsp;предоставлением их&nbsp;сторонним партнерам
		.close Согласен

mixin footerLogo()
	include  logo.svg